<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" ios="power-sharp" md="power-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">The Movie Database | HOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="nowPlaying">
    <ion-segment-button value="nowPlaying" content-id="nowPlaying">
      <ion-label>🎬 Now Playing</ion-label>
    </ion-segment-button>
    <ion-segment-button value="popular" content-id="popular">
      <ion-label>⭐ Popular</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <ion-segment-content id="nowPlaying">
      <!-- Now Playing -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Now Playing</ion-card-title>
        </ion-card-header>

        <ion-card *ngFor="let movie of nowPlaying">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
          <ion-card-content>
            <h2>{{ movie.title }}</h2>
            <ion-button (click)="showCredits(movie.id)">Credits</ion-button>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title mode="ios">Credits</ion-title>
                    <ion-buttons slot="start">
                      <ion-button color="danger" (click)="closeModal(false)">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content *ngIf="credits">
                  <ion-card *ngFor="let person of credits.cast">
                    <ion-card-header>
                      <ion-card-title>Actor Name: {{ person.name }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img alt="Silhouette of mountains"
                              [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" />
                          </ion-thumbnail>
                          <ion-label>
                            <p>Character: {{ person.character }}</p>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-card-content>
        </ion-card>
      </ion-card>
    </ion-segment-content>
    <ion-segment-content id="popular">
      <!--  Popular -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Popular Movies</ion-card-title>
        </ion-card-header>
        <ion-card *ngFor="let movie of popular">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" />
          <ion-card-content>
            <h2>{{ movie.title }}</h2>
            <ion-button (click)="showCredits(movie.id)">Credits</ion-button>
            <ion-modal [isOpen]="isModalOpen">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title mode="ios">Credits</ion-title>
                    <ion-buttons slot="start">
                      <ion-button color="danger" (click)="closeModal(false)">Close</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>

                <ion-content *ngIf="credits">
                  <ion-card *ngFor="let person of credits.cast">
                    <ion-card-header>
                      <ion-card-title>Actor Name: {{ person.name }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-list>
                        <ion-item>
                          <ion-thumbnail slot="start">
                            <img alt="Silhouette of mountains"
                              [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" />
                          </ion-thumbnail>
                          <ion-label>
                            <p>Character: {{ person.character }}</p>
                          </ion-label>
                        </ion-item>
                      </ion-list>
                    </ion-card-content>
                  </ion-card>
                </ion-content>
              </ng-template>
            </ion-modal>

          </ion-card-content>
        </ion-card>
      </ion-card>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>